		{{# templates }}
		<script type="text/template" id="{{ name }}-template">
			{{{ markup }}}
		</script>
		{{/ templates }}

		<script src="mustache/mustache.js"></script>
		<script src="backbone/bower_components/todomvc-common/base.js"></script>
		<script src="backbone/bower_components/jquery/jquery.js"></script>
		<script src="backbone/bower_components/underscore/underscore.js"></script>
		<script src="backbone/bower_components/backbone/backbone.js"></script>
		<script src="backbone/bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="backbone/js/models/todo.js"></script>
		<script src="backbone/js/collections/todos.js"></script>
		<script src="backbone/js/views/todo-view.js"></script>
		<script src="backbone/js/views/app-view.js"></script>
		<script src="backbone/js/routers/router.js"></script>
		<script src="backbone/js/app.js"></script>
	</body>
</html>
