		{{# templates }}
		<script type="text/template" id="{{ name }}-template">
			{{{ markup }}}
		</script>
		{{/ templates }}



		<script>
			window.app = window.app || {}

			// TODO obviously this value needs to be escaped to avoid injection
			window.app.data = {
			  todos: {{{ todosJSON }}}
			}
		</script>

    <script src="backbone_server/all.min.js"></script>
		<link rel="stylesheet" href="backbone_server/bower_components/todomvc-common/base.css">
	</body>
</html>
